.backImg {
    background-image: url(../images/shirts.jpg);
    height: 100vh;
}
.editProduct {
    margin-left: 30px;
    margin-right: 800px;
}
h3 {
    color: #4A235A
}
label {
    color: #7d3f9c;
}
input {
    background-color: #EBDEF0;
    border: 0;
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}
select {
    background-color: #EBDEF0;
    border: 0;
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}
.btnEdit {
    background-color: #8E44AD;
    color: white;
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.btnEdit:focus {
    outline: none;
}